#cajitas {
    display: flex;    
}

.caja {

    height: 200px;width: 200px; margin: auto;
}

#c1 {
    background-color: blueviolet;
}

#c2 {
    background-color: darkmagenta;
}

#c3 {
    background-color: violet;
}

#nombres{
 display: flex; justify-content: space-around;   
}