
body{
    background-color: rgb(214, 148, 183);
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/107/886/small/pink-waterclor-texture-background-free-vector.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

/* punto: referenciar clases, numeral: referenciar id */
#cajitas {
    display: flex;    
}

.caja {

    height: 200px;width: 200px; margin: auto;
}

#c1 {
    background-color: blueviolet;
    border: 5px solid black; 
}

#c2 {
    background-color: darkmagenta; 
    margin-top: 150px;
}


#c3 {
    background-color: violet;
    border-radius: 20%;
}

#c4{
    background-color: crimson;
    border-radius: 50%;
}

#c4:hover{ background-color: gold;
}

#nombres{
 display: flex; justify-content: space-around;   
}

nav{
padding: 15px;
background: linear-gradient(#da6f93, #9198e5);
}
 nav ul{
display: flex;
background-color: hotpink;
background-image:url(https://i.pinimg.com/474x/56/a0/69/56a069f488bb6ce3d5fa39f44b5db776.jpg);
/* list-style para quitar las viñetas o numeros de la lista */
list-style: none;
}

/* margin espacio alrededor */
/* pading espacio interior  */

nav ul li {
/* text-tranfrom: para poner mayusculas o minusculas todas las letras del contenido */
text-transform: uppercase;   
margin: auto;
padding: 15px;
font-weight: 700;
/* font-weight para cambiar el grosor de la letra */
color: rgb(51, 6, 51);
background-color: #c05cc0;
}

.submenu{
display: none;
background: linear-gradient(#e76dc5, #8b8eb4);
}

nav ul li:hover{
    background: linear-gradient(#e76dc5, #8b8eb4);
}

nav ul li:hover ul{
    display: block;
}