


/* punto: referenciar clases, numeral: referenciar id */
#cajitas {
    display: flex;    
}

.caja {

    height: 200px;width: 200px; margin: auto;
}

#c1 {
    background-color: blueviolet;
    border: 5px solid black; 
}

#c2 {
    background-color: darkmagenta; 
    margin-top: 150px;
}


#c3 {
    background-color: violet;
    border-radius: 20%;
}

#c4{
    background-color: crimson;
    border-radius: 50%;
}

#c4:hover{ background-color: gold;
}

#nombres{
 display: flex; justify-content: space-around;   
}